.container.borer-green
  %h1.border-gree BlogPosts

  %div.border-gren.posts-container
    -unless @posts.empty?
      -@posts.each do |post|
        %div.bordr-red
          %p=post.title
          %p=post.content
          -if post.main_picture.attached?
            %article.main-image-wrapper.bordr-red
              =image_tag(post.main_picture)

          -if post.uploads.attached?
            Uploads:
            %article.uploads-wrapper.border-green
              -post.uploads.each do |upload|
                -if upload.blob.content_type.start_with?("image/")
                  =image_tag(upload)
                -elsif upload.blob.content_type == 'application/pdf'
                  = link_to 'View file', upload, target: :blank


          =link_to 'Edit', edit_blog_post_path(post)


  %button.create-button=link_to 'Create', new_blog_post_path
