%h1 BlogPosts#new

=form_with model: @post, local: true, class: 'border-re form-container', id: 'new-post-form' do |form|
  .form-group.borde-green
    = form.text_field :title, placeholder: 'Title'
  .form-group.borer-green
    = form.text_area :content, placeholder: 'Start writing...'
  .form-group.borde-green
    =form.label :main_picture, 'Main Picture'
    =form.file_field :main_picture
  .form-group.borde-green
    =form.label :uploads
    =form.file_field :uploads, multiple: true
  .form-gr
    = form.submit 'Save', class: 'save-button', id: 'new_submit'
