// Place all the styles related to the blog_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.border-red {
  border: 1px solid red;
}

.border-green {
  border: 1px solid green;
}

.container {
  padding: 20px 30px;
}

h1 {
  text-align: center;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  div {
    width:25%;
    padding: 10px 15px;
    box-shadow: 3px 8px 12px hsl(0, 3%, 73%);
    margin: 25px;
    &:hover {
      // transform: scale(1.03);
      box-shadow: 3px 18px 13px hsl(0, 3%, 73%);;
      transition: 0.3s;
      cursor: pointer;
    }
  }
}

.create-button {
  background-color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  margin-top: 60px;
  a {
    color:white;
    text-decoration: none;
  }
  // &:hover {
  //   transform: scale(1.2);
  //   transition: .5s;
  // }
}




.form-container {
  padding: 30px;
}

.form-group {
  text-align: center;
  textarea {
    margin: 15px 0;
    width: 70%;
    padding: 20px;
    border-radius: 5px;
  }
  input {
    width: 50%;
    padding: 20px;
    border-radius: 5px;
  }
}


.save-button {
  background-color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  padding: 15px 0px;
  font-size: 1.2rem;
  display: block;
  margin-top: 40px;
  color:white;
  text-decoration: none;
  width: 20%;
  &:hover {
    transform: scale(1.01);
    transition: .5s;
    cursor: pointer;
  }
}

.main-image-wrapper {
  overflow: hidden;
  width: 100%;
  // background-color: aquamarine;

}

.uploads-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  img {
    width: 100px;
    height: 100px;
    margin: 10px;
  }
}
